<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nerdsure.appractice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Calculation"></activity>
        <activity android:name=".LoginSignup" />
        <activity android:name=".Passbook" />
        <activity android:name=".InputPatternActivity" />
        <activity android:name=".CreatePatternActivity" />
        <activity android:name=".IsPatternAvailable" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".Receive_QR" />
        <activity android:name=".QRScanCode" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>